<div class="prest">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;" (click)="electronicos()" >
                <img class="card-img-top" src="../../../assets/electronics.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" id="titulo"><b>Electronicos</b></h5>
                </div>
            </div>
            <br><br>
        </div> 
    
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;" (click)="joyeria()">
                <img class="card-img-top" src="../../../assets/joyeria.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" id="titulo"><b>Joyeria</b></h5>
                </div>
            </div>
            <br><br>
        </div> 
    
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;" (click)="hombres()">
                <img class="card-img-top" src="../../../assets/hombre.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" id="titulo"><b>Ropa para hombres</b></h5>
                </div>
            </div>
            <br><br>
        </div> 
    
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;" (click)="mujeres()">
                <img class="card-img-top" src="../../../assets/mujer.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" id="titulo"><b>Ropa para mujeres</b></h5>
                </div>
            </div>
            <br><br>
        </div>
     </div>
</div>
