
<div>
    <br><br>
    <h1><b>Muestra de los episodios</b></h1>
    
    <br><br>
  </div>
  <div *ngIf="val === false" class="flot">
    <div class="col-sm-4" *ngFor="let personaje of capitulos; index as x">
        <div class="card" style="width: 18rem;" *ngIf="personaje.id == usuari01">
            <h5 class="card-title"><b>Capitulo: </b> {{personaje.name}}</h5>
            <p><b>Fecha de publicacion: </b>{{personaje.air_date}}</p>
            <p><b>Espisodio: </b>{{personaje.episode}}</p>
            <p><b>Personajes que participaron: </b></p>
            <div *ngIf="val === false">
                <div >
                <p *ngFor="let personaj of personaje.characters; index as i">{{personaje.characters[i]}}, </p> 
            </div>
                
            </div>
        </div>
         
        </div>
    </div>


  <div class="row">
     <div class="col-sm-4" *ngFor="let personaje of capitulos; index as i">
      <div class="card" style="width: 18rem;" (click)="mostrar(personaje.id)" >
            <h5 class="card-title"><b>Capitulo: </b> {{personaje.name}}</h5>
            <p>{{personaje.air_date}}</p>
            <p>{{personaje.episode}}</p>
        </div>
        <!-- <div *ngIf="val === false">
            <div *ngFor="let personaj of personaje.characters; index as i">
                <p>{{personaje.characters[i]}}</p>
            </div>
        </div> -->
        <br><br>
     </div> 
  </div>

  