
#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #999bff38;
    width: 90%;
    position: relative;
    top: 55px;
    left: 4%;
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-radius: 15px;
}
.titulo{
    text-align: center;
}
.subtitulo{
    text-align: center;
}
#bt{
    text-align: center;
    align-items: center;

}