
<div id="login">
    <div class="titulo">
        <h1 class="titulo"> <b>Confirma tu registro</b> </h1>
            </div>
            <h2 class="subtitulo">Haz clic en el boton para confirmar tu correo electronico</h2>
            <br>
            <h2 class="subtitulo">Correo a registrar: <b>{{emailu}}</b> </h2>
                <button class="btn btn-info  btn-block" id="bt" (click)="registrarUsuario()" 
                title="Ingresar" name="Ingresar">Confirmar correo</button>
            </div>


