
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        <h1><b> ¿Tienes una cuenta?</b></h1>
                        <p><b>Inicia secion</b></p>
                    </div>
                    <form id="loginform">
                        <input [(ngModel)]="Usuario.email" type="text" name="usuario" placeholder="Correo electronico" required>
                        
                        <input [(ngModel)]="Usuario.password" type="password" 
                        placeholder="Contraseña" name="password" minlength="8">
                        
                        <button type="submit"  (click)="log()" title="Ingresar"  name="Ingresar">Login</button>
                        <a href="/recuperar">Recuperar Contraseña</a>
                        <br><br>
                        ¿No tienes una cuenta? Crea una 
                        <button type="submit"  (click)="registrarse()" title="Registro"  name="Registro">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>

<router-outlet></router-outlet>
